td {
  color: #765d69;
  background-color: #fefad4;
  padding: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
}

.correctChar {
  background-color: #fcd0ba;
}

.correctPos {
  background-color: #8fb9a8;
  color: #fefad4;
}

/* table, */
th,
td {
  /* border: 2px solid black; */
  border-collapse: collapse;
}
