<div>
  <table>
    <tbody>
      <tr *ngFor="let row of resultsMatrix">
        <td
          *ngFor="let col of row"
          [class.correctChar]="col.isInString"
          [class.correctPos]="col.isInCorrectPosition"
        >
          {{ col.char.toUpperCase() }}
        </td>
      </tr>
      <tr
        *ngFor="let row of [].constructor(maxAttempts - resultsMatrix.length)"
      >
        <td *ngFor="let col of [].constructor(word.length)"></td>
      </tr>
      <tr>
        <td *ngFor="let col of [].constructor(textEntry.length); let i = index">
          {{ textEntry[i].toUpperCase() }}
        </td>
        <td
          *ngFor="let col of [].constructor(word.length - textEntry.length)"
        ></td>
        <!-- <td><button>Go</button></td> -->
      </tr>
    </tbody>
  </table>
  <!-- <input
    (value)="(textEntry)"
    (keyup)="onKeypressEvent($event)"
    type="text"
    [attr.minlength]="word.length"
    [attr.maxlength]="word.length"
  /> -->
  <button (click)="addToResultsMatrix(textEntry)">Submit</button>
  <button *ngIf="canShare" (click)="share()">Share</button>
  <div *ngIf="resultsMatrix.length >= maxAttempts">{{ word }}</div>
</div>
