<div>
  <table>
    <tbody>
      <tr *ngFor="let row of resultsMatrix">
        <td
          *ngFor="let col of row"
          [class.correctChar]="col.isInString"
          [class.correctPos]="col.isInCorrectPosition"
        >
          {{ col.char.toUpperCase() }}
        </td>
      </tr>
      <tr
        *ngFor="let row of [].constructor(maxAttempts - resultsMatrix.length)"
      >
        <td *ngFor="let col of [].constructor(word.length)"></td>
      </tr>
      <tr>
        <td *ngFor="let col of [].constructor(textEntry.length); let i = index">
          {{ textEntry[i].toUpperCase() }}
        </td>
        <td
          *ngFor="let col of [].constructor(word.length - textEntry.length)"
        ></td>
      </tr>
    </tbody>
  </table>
  <button *ngIf="canShare" (click)="share()">Share</button>
  <div *ngIf="resultsMatrix.length >= maxAttempts">{{ word }}</div>

  <div class="keyboardRow" *ngFor="let row of chars">
    <div
      class="keyboardKey"
      (click)="addChar(c.char)"
      *ngFor="let c of row"
      [class.correctChar]="c.isInString"
      [class.correctPos]="c.isInCorrectPosition"
      [class.incorrectChar]="c.isNotInString"
    >
      {{ c.char.toUpperCase() }}
    </div>
  </div>
  <div class="keyboardRow">
    <div class="keyboardKey" (click)="removeChar()">Backspace</div>
    <div class="keyboardKey" (click)="addToResultsMatrix(textEntry)">Enter</div>
  </div>
</div>
