td {
  color: #765d69;
  background-color: #fefad4;
  padding: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
}

th,
td {
  border-collapse: collapse;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.keyboardRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.keyboardKey {
  background-color: #fefad4;
  padding: 4px;
  border-radius: 5px;
  margin: 3px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 1.3em;
}

.correctChar {
  background-color: #fcd0ba;
}

.correctPos {
  background-color: #8fb9a8;
  color: #fefad4;
}

.incorrectChar {
  background-color: white;
  color: grey;
}
